@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Silk";
  src: url(../app/fonts/SilkSerif-Regular.ttf);
}

@font-face {
  font-family: "Destiny";
  src: url(../app/fonts/The\ Destiny.ttf);
}

@font-face {
  font-family: "Cormorant";
  src: url(../app/fonts/Cormorant-Regular.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(../app/fonts/Poppins-Thin.ttf);
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

body {
  color: #ededed;
  background: #0a0a0a;
  font-family: "DM Sans", sans-serif;
  font-weight: 300; 
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
