@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Silk";
  src: url(../app/fonts/SilkSerif-Regular.ttf);
}

@font-face {
  font-family: "Destiny";
  src: url(../app/fonts/The\ Destiny.ttf);
}

@font-face {
  font-family: "Cormorant";
  src: url(../app/fonts/Cormorant-Regular.ttf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #ededed;
  background: #0a0a0a;
  font-family: "DM Sans", sans-serif;
  font-weight: 300; 
}
